.main-header {
  min-height: 730px;
  min-height: 100vh;
  background-color: $grey;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: center;
}

.main-header__content {
  padding-top: 120px;
  margin-bottom: 97px;
  text-align: center;
}
.main-header__text {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 600;
  line-height: 0.92;
  color: $dark-grey;
  opacity: 0.94;

  span {
    color: $accent;
  }
}

.main-header__subtext {
  color: $black;
  color: rgba($black, 0.65);
  font-size: 16px;
  line-height: 1.5625;
}
