.plus-sign {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  top: 1px;
  left: -14px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    background-color: $black;
    background-color: rgba($black, 0.5);
  }

  &:before {
    top: 50%;
    left: 0;
    width: 16px;
    height: 1px;
  }

  &:after {
    left: 50%;
    top: 0;
    height: 16px;
    width: 1px;
  }
}
