// fonts
$font-primary: 'Open Sans', sans-serif;

// colors
$white: #fff;
$black: #000;
$accent: #fc6744;
$dark: #170f1c;
$dark-grey: #626262;
$grey: #f5f5f5;
$blue: #4eb2f7;
$dark-blue: #817eff;
$violet: #c049f8;
$red: #f74770;
